body {
  background: linear-gradient(to bottom, #efefef, #ccc);
  height: 100vh;
  margin: 0;
  padding: 0;
}
article {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
